.input--group {
    .input-group-text {
      padding-inline: 15px;
      border: 1px solid rgb(var(--base) / 0.3);
      border-right: none;
      background: rgb(var(--base));
      color: hsl(var(--accent-100));
    }
  }